.transition {
    position: fixed;
    z-index: 99999999;
    display: grid;
    height: calc(var(--vh, 1vh) * 100);
    grid-template-columns: 10vw 1fr 1fr 1fr 1fr 10vw;
    grid-template-rows: 1fr;
    width:0;

 

}

.transition.active {
    width: 100%;
    transition: all 0.1s ease;

}
.transition.active >.transition-box.active {
    width: 100%;
}




.transition .transition-box {
    display: block;
    width: 0;
    transition: width 0.4s;
    background-color: #017c63;

}


.transition .transition-box:nth-child(1) {
    transition-delay: 0s;
    
}

.transition .transition-box:nth-child(2) {
    transition-delay: 0.1s;
    
}

.transition .transition-box:nth-child(3) {
    transition-delay: 0.15s;
    
}

.transition .transition-box:nth-child(4) {
    transition-delay: 0.2s;
    
}
.transition .transition-box:nth-child(5) {
    transition-delay: 0.25s;
    
}
.transition .transition-box:nth-child(6) {
    transition-delay: 0.3s;
    
}





.active {}

.transition.active .transition-box {
    animation: width 1s ease-in-out;


}





